/* Dentro de src/components/TaskList.module.css */

.taskList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.taskItem {
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: 5px solid #007bff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.taskItem:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: scale(1.02);
}

.taskActions {
    display: flex;
    gap: 10px;
}


/* Estilo para o botão de deletar */
.deleteBtn {
    padding: 5px 10px;
    background-color: #dc3545; /* Vermelho */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.deleteBtn:hover {
    background-color: #c82333;
}

.changeBtn {
    padding: 5px 10px;
    background-color: #0057d1; /* Vermelho */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.changeBtn:hover {
    background-color: #003f9f;
}
.prioridadeAlta { border-left-color: #ffdd00; }
.prioridadeMedia { border-left-color: #53ff00; }
.prioridadeBaixa { border-left-color: #008dff; }

.concluida {
    border-left-color: #6c757d;
    background-color: #f8f9fa;
}

.concluida .taskText { /* Seletor para o texto dentro do item concluído */
    text-decoration: line-through;
    color: #6c757d;
}

.expandBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* A MÁGICA DA ANIMAÇÃO */
    transition: transform 0.2s ease-in-out;
}
/* Estilo para a seta QUANDO a tarefa está expandida */
.expandBtn.expanded svg {
    transform: rotate(90deg); /* Gira o ícone em 90 graus */
}