/* Reset básico e configurações globais */
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Estilizando o contêiner principal para centralizar */
main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px; /* Largura máxima para não ficar muito largo em telas grandes */
}

h1, h2 {
    text-align: center;
}
